---
import PageSection from "~/components/PageSection.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="vexide docs">
    <main id="content">
        <PageSection>
            <hi class="title">Docs</hi>
        </PageSection>
    </main>
</BaseLayout>