---
import { GITHUB_REPO_URL } from "~/config";

import BaseLayout from "~/layouts/BaseLayout.astro";
import PageSection from "~/components/PageSection.astro";

import Button from "~/components/Button.svelte";
import CircuitsPattern from "~/components/CircuitsPattern.svelte";
---

<BaseLayout>
	<main>
		<PageSection id="hero">
			<div class="hero-left">
				<div class="hero-lead">
					<h1 class="title">
						Open-source Rust tooling for VEX robots.
					</h1>
					<p class="subtext">
						pros-rs provides opinionated bindings to the <a href="https://pros.cs.purdue.edu/" target="_blank" rel="noreferrer noopener">PROS kernel</a> and tooling for programming VEX V5 robots using the <a href="https://rust-lang.com/" target="_blank" rel="noreferrer noopener">Rust Programming Language</a>. 🦀
					</p>
				</div>
				<div class="hero-buttons">
					<Button variant="accent-yellow" href="#">Read The Book</Button>
					<Button
						variant="accent-red"
						href={GITHUB_REPO_URL}
						rel="noreferrer noopener"
						target="_blank"
					>
						GitHub
					</Button>
				</div>
			</div>
			<div class="hero-right">

			</div>
			<Fragment slot="outer">
				<CircuitsPattern client:load />
			</Fragment>
		</PageSection>
	</main>
</BaseLayout>

<style>
	:global(#hero) {
		z-index: 1;
		overflow: hidden;
	}

	:global(#hero > .page-section-inner) {
		display: flex;
		gap: 84px;
		min-block-size: 800px;
		padding-block: 96px;
	}

	.title {
		font-size: 7.2rem;
		font-weight: 200;
		font-family: var(--font-monospace);
		margin-block-start: 0;
	}

	.subtext {
		font-size: 2.4rem;
		line-height: 2;
		font-weight: 400;
		max-inline-size: 65ch;
		color: var(--foreground-secondary);
	}

	.subtext a {
		color: var(--foreground-accent-red);
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		transition: 250ms ease;
	}

	.subtext a:hover {
		opacity: 0.8;
	}

	.hero-left,
	.hero-right {
		display: flex;
		flex-direction: column;
	}

	.hero-left {
		flex: 1 1 60%;
	}

	.hero-right {
		flex: 1 0 40%;
		gap: 20px;
	}

	.hero-lead {
		flex: 1 1 auto;
	}

	.hero-buttons {
		flex: 0 0 auto;
		display: flex;
		gap: 16px;
	}
</style>