---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Card from "~/components/PageSection.astro";
import PageSection from "~/components/PageSection.astro";
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<PageSection>
			Hi
		</PageSection>
	</main>
</BaseLayout>

<style>
</style>
