---
const { selected = false, external = false } = Astro.props;
---

<li class={`navigation-item-wrapper ${selected ? "selected" : ""}`}>
	<a class="navigation-item" {...Astro.props} target={external ? "_blank" : ""} rel={external ? "noreferrer noopener" : ""}>
		<slot />
	</a>
</li>

<style>
	.navigation-item-wrapper {
		display: flex;
		list-style-type: none;
	}

	.navigation-item {
		outline: none;
		display: flex;
		align-items: center;
		position: relative;
		flex: 1 1 auto;
		box-sizing: border-box;
		text-decoration: none;
		color: var(--foreground-secondary);
		font-weight: 600;
		padding-block: 4px;
		transition: 150ms ease;
	}

	.navigation-item:hover {
		color: var(--foreground-primary);
	}

	.selected .navigation-item {
		color: var(--foreground-primary);
		border-bottom: 1px solid var(--background-accent-yellow);
	}

	.navigation-item:focus-visible {
		outline: 2px solid var(--foreground-secondary);
	}

	.mobile-navigation-items .navigation-item {
		color: var(--foreground-secondary);
		font-size: 1.3rem;
		padding-inline: 12px;
		padding-block: 6px;
		border-radius: 4px;
	}

	.mobile-navigation-items .navigation-item:hover {
		background-color: var(--background-primary);
	}

	.mobile-navigation-items .navigation-item:active {
		background-color: var(--interactive-primary);
	}
</style>
