---
interface Props {
	element?: string;
	className?: string;
	[key: string]: any;
}

const { element: Element = "section", class: className, ...rest } = Astro.props;
---

<Element class:list={["page-section", { className }]} {...rest}>
	<div class="page-section-inner">
		<slot />
	</div>

	<slot name="outer" />
</Element>

<style>
	.page-section {
		position: relative;
	}

	.page-section-inner {
		display: block;
		position: relative;
		box-sizing: border-box;
		max-inline-size: 1380px;
		padding-inline: 48px;
		margin-inline: auto;
	}

	.page-section :global(.title) {
		color: var(--foreground-primary);
		font-family: var(--font-monospace);
		font-weight: 200;
		margin-block-start: 0;
	}

	.page-section :global(h1.title) {
		font-size: 6.4rem;
		margin: 0;
	}

	.page-section :global(.subtext) {
		font-size: 2.2rem;
		line-height: 2;
		font-weight: 400;
		max-inline-size: 50ch;
		color: var(--foreground-secondary);
	}

	.page-section :global(.subtext a) {
		color: var(--foreground-accent-red);
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		transition: 250ms ease;
	}

	.page-section :global(.subtext a:hover) {
		opacity: 0.8;
	}

	@media only screen and (max-width: 1024px) {
		.page-section :global(h1.title) {
			font-size: 6.4rem;
		}
	}
	
	@media only screen and (max-width: 768px) {
		.page-section-inner {
			padding-inline: 24px;
		}
	}
</style>
