---
import Navigation from "components/Navigation.astro";
import NavigationItem from "components/NavigationItem.astro";

import Button from "components/Button.svelte";
import { GITHUB_REPO_URL, DISCORD_INVITE_URL } from "config";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	name?: string;
	title?: string;
	type?: string;
	description?: string;
}

const {
	name = "vexide",
	title = "vexide",
	type = "website",
	description = "Open-source Rust runtime for VEX robots.",
} = Astro.props;
---

<BaseLayout {name} {title} {type} {description}>
	<Button class="skip-to-content" href="#content">Skip to content</Button>
	<slot />
<BaseLayout />
